<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>Mobile Weather</title>	
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="app/css/main.css" />
        <link type="text/css" rel="stylesheet" href="app/css/weather-icons.min.css" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> 
        <link href="app/css/open-iconic.css" rel="stylesheet"> 
        <link href="app/css/open-iconic-bootstrap.css" rel="stylesheet"> 
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Mobile Weather</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <span><a href="#/fahrenheit" style="color: #fff;">F</span></a>&nbsp;|&nbsp;<span><a style="color: #fff;" href="#/celsius">C</a></span>
                    </li>
                </ul>
                <form class="form-inline">
                    <input id="search_box" class="form-control mr-sm-2" type="search" placeholder="Search Locations" aria-label="Search" onfocus="this.placeholder=''" onblur="this.placeholder='Search'" />
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container testimonial-group" style="background-color: #fff; border: 1px solid #ccc">
            <br/>
            <div id="search"></div>
            <div id="alert"></div>
            <div id="conditions"></div>
            <div id="forecast"></div>
            <hr/>
            <div id="map"></div>
            <div id="hourly"></div>
            <div id="astronomy"></div>
        </div>

        <script type="text/template" id="search-template">
        </script>
        
        <script type="text/template" id="alert-template">
            <% let alerts = Object.assign(response.alerts); %>
            <% if(alerts === undefined || alerts.length == 0) { %>
               <div>There are no alerts</div> 
            <% } else {%>
                <div class="alert alert-danger" role="alert">
                    <% _.each(alerts, function(json) { %>
                        <div id="alert_message"><%= json.description %></div>
                        <div><%= json.message %></div>
                    <% }); %>
                </div>
            <% } %>
        </script>

        <script type="text/template" id="conditions-template">
            <hr/>
            <% let conditions = Object.assign({},response.current_observation); %>
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4">
                    <div><%= conditions.display_location.full %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-sm-2 col-md-2">
                    <div><img src="<%= conditions.icon_url %>" /></div>
                </div>
                <div class="col-4 col-sm-2">
                    <div style="font-size: 40px;"><%= Math.trunc(conditions.temp_f) %>&deg;F</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="last_updated"><%= conditions.observation_time %></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="conditions-celsius-template">
            <hr/>
            <% let celsius = Object.assign({}, current_observation); %>
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4">
                    <div><%= celsius.display_location.full %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-sm-2 col-md-2">
                    <div><img src="<%= celsius.icon_url %>" /></div>
                </div>
                <div class="col-4 col-sm-2">
                    <div style="font-size: 40px;"><%= Math.trunc(celsius.temp_c) %>&deg;C</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="last_updated"><%= celsius.observation_time %></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="map-template">
            <hr/>
            <div class="row">
                <div class="col-sm col-md">Map Here</div>
            </div>
        </script>

        <!-- FORECAST -->
        <script type="text/template" id="forecast-template">
            <hr/>
            <% let forecast = Object.assign({}, response.forecast.simpleforecast.forecastday); %>
            <div class="row weather">
            <section class="fct">
                <% _.each(forecast, function(json) { %>
                    <div class="col-sm col-md forecast">
                        <div class="center_text"><%= json.date.weekday_short.toUpperCase() %></div>
                        <div><img src="<%= json.icon_url %>" class="center_image_fct" /></div>
                        <div class="bold center_text"><%= json.high.fahrenheit %>&deg;</div>
                        <div class="center_text"><%= json.low.fahrenheit %>&deg;</div>
                    </div>
                <% }); %>
            </section>
            </div>
        </script>

        <script type="text/template" id="forecast-celsius-template">
            <hr/>
            <% let cel_fct = Object.assign({}, forecast.simpleforecast.forecastday); %>
            <div class="row weather">
            <section class="fct">
                <% _.each(cel_fct, function(json) { %>
                    <div class="col-sm col-md forecast">
                        <div class="center_text"><%= json.date.weekday_short.toUpperCase() %></div>
                        <div><img src="<%= json.icon_url %>" class="center_image_fct" /></div>
                        <div class="bold center_text"><%= json.high.celsius %>&deg;</div>
                        <div class="center_text"><%= json.low.celsius %>&deg;</div>
                    </div>
                <% }); %>
            </section>
            </div>
        </script>

        <!-- HOURLY -->
        <script type="text/template" id="hourly-template">
            <hr/>
            <% const hourly = Object.assign({}, response.hourly_forecast); %>
            <% var limit = parseInt(response.hourly_forecast[0].FCTTIME.hour); %>
            <div class="row">
                <div class="col-4 col-sm col-md bold">Time</div>
                <div class="col-4 col-sm col-md bold center">Conditions</div>
                <div class="col-3 col-sm col-md bold center">Temperature</div>
                <div class="d-none d-sm-block col-sm col-md bold center">Precip.</div>
                <div class="d-none col-sm d-sm-none d-md-block col-md bold center">Humidity</div>
                <div class="d-none d-sm-block col-sm col-md bold center">Pressure</div>
            </div>
            <% var color = "#ffffff" %>
            <% _.each(hourly, function(json) { %>
                <% if(limit <= 23) { %>
                    <% limit += 1 %>
                    <% if(limit % 2 == 0) { %>
                        <% color = "#ffffff" %>
                    <% } else { %>
                        <% color = "#efefef" %>
                    <% } %>
                    <div class="row" style="background-color: <%= color %>; padding-top: 10px;">
                        <div class="col-4 col-sm col-md"><%= json.FCTTIME.civil %></div>
                        <div class="col-4 col-sm col-md"><img class="center_image" src="<%= json.icon_url %>" /></div>
                        <div class="col-3 col-sm col-md center"><%= Math.trunc(json.temp.english) %>&deg;F</div>
                        <div class="d-none col-sm d-sm-block center"><%= json.pop %>%</div>
                        <div class="d-none col-sm d-sm-none d-md-block col-md center"><%= json.humidity %>%</div>
                        <div class="d-none col-sm d-sm-block col-md center"><%= json.mslp.english %>&nbsp;in</div>
                     </div>
                <% } %>
            <% });%>
        </script>

        <script type="text/template" id="hourly-celsius-template">
            <hr/>
            <% const hourly = Object.assign({}, hourly_forecast); %>
            <% var limit = parseInt(hourly_forecast[0].FCTTIME.hour); %>
            <div class="row">
                <div class="col-4 col-sm col-md bold">Time</div>
                <div class="col-4 col-sm col-md bold center">Conditions</div>
                <div class="col-3 col-sm col-md bold center">Temperature</div>
                <div class="d-none d-sm-block col-sm col-md bold center">Precip.</div>
                <div class="d-none col-sm d-sm-none d-md-block col-md bold center">Humidity</div>
                <div class="d-none d-sm-block col-sm col-md bold center">Pressure</div>
            </div>
            <% var color = "#ffffff" %>
            <% _.each(hourly, function(json) { %>
                <% if(limit <= 23) { %>
                    <% limit += 1 %>
                    <% if(limit % 2 == 0) { %>
                        <% color = "#ffffff" %>
                    <% } else { %>
                        <% color = "#efefef" %>
                    <% } %>
                    <div class="row" style="background-color: <%= color %>; padding-top: 10px;">
                        <div class="col-4 col-sm col-md"><%= json.FCTTIME.civil %></div>
                        <div class="col-4 col-sm col-md"><img class="center_image" src="<%= json.icon_url %>" /></div>
                        <div class="col-3 col-sm col-md center"><%= Math.trunc(json.temp.metric) %>&deg;C</div>
                        <div class="d-none col-sm d-sm-block center"><%= json.pop %>%</div>
                        <div class="d-none col-sm d-sm-none d-md-block col-md center"><%= json.humidity %>%</div>
                        <div class="d-none col-sm d-sm-block col-md center"><%= json.mslp.metric %>&nbsp;mm</div>
                     </div>
                <% } %>
            <% });%>
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script data-main="app/main" src="node_modules/requirejs/require.js"></script>	
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="app/js/util.js"></script>
        <script>
            (function() {
                let element = document.getElementById("alert_message");
                element.addEventListener("click", function() {
                    alert("Let's show the message"); 
                });
            })();
        </script>
    </body>
</html>
