body {
    font-size: 14px;
}

div.bold {
	font-weight: bold;
}

div.center {
	text-align: center;
}

div#radar {
	max-height: 320px;
}

div.italic {
	font-size: 12px; 
	font-style: italic;
}

div.padding-20 {
	padding: 20px;
}

div.data, 
div.data_values {
	font-size: 12px;
	font-weight: bold;
}

span.data_values {
	font-weight: normal;
}

div.bold {
		font-size: 14px;
		font-weight: bold;
}

div.header {
	font-size: 20px;
	font-weight: bold;
}

div.fct_day_height {
	height: 200px;
}

div.data_font_size {
	font-size: 14px;
}

img.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
    max-width: 30px;
}

img.center_image_fct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

div.center_text {
    text-align: center;
}

div.weather {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

section.fct {
    display: flex;
    background-color: #ccc;
    min-width: 100%;
    overflow-x: auto; 
}

section.fct::-webkit-scrollbar {
    display: none;
}

div.forecast {
    background-color: #fff;
    min-width: 100px;
}  

div.last_updated {
    color: #999999;
    font-size: 10px;
    font-style: italic; 
}
